/*General*/
body {
  margin: 0px;
  font-family: "Raleway", Sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  letter-spacing: 0.4px;
  font-family: "Raleway", Sans-serif;
  color: #232323; }

p {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #252525; }

a:hover, a:focus, a:active, a.active {
  color: #fec503; }

a, a:hover, a:focus, a:active, a.active {
  outline: 0; }

::selection {
  text-shadow: none;
  background: #fed136; }

@media (min-width: 768px) {
  section {
    padding: 150px 0; } }
section {
  padding: 35px 0 60px; }

/*Reset bootstrap*/
.row-0-gutter {
  margin-left: -13px;
  margin-right: -13px; }

.col-0-gutter {
  padding-left: 0;
  padding-right: 0; }

  #back-top a {
    width: 40px;
    height: 40px; }

  #back-top i {
    margin-top: 7px;
    font-size: 20px; }