<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="Portifólio de Andre Tamane">
	<meta name="author" content="Andre Tamane">
	<meta property="og:title" content="Portifólio de André Tamane" />
	<meta property="og:description" content="Trabalhos realizados nas áreas de Design Gráfico, Web Design e Infografia" />
	<meta property="og:url" content="http://atamane.eu5.org" />
	<meta property="og:image" content="http://atamane.eu5.org/images/portifolio/vitrine-capa.jpg" />
	<link rel="icon" href="favicon.ico">
	<title>Andre Tamane | {{ page.title }}</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
	<link href="css/style.css" rel="stylesheet">
</head>
